<!DOCTYPE html>
<html lang="en">
<head>
    <title>Store DSWI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="StoreDSWI" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/swiper.min.css" rel="stylesheet" type="text/css" /> <!-- swiper -->
    @*<link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />*@
    <link href="~/Content/MyStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/menu.css" rel="stylesheet" type="text/css" media="all" /> <!-- menu style -->
    <link href="~/Content/ken-burns.css" rel="stylesheet" type="text/css" media="all" /> <!-- banner slider -->
    <link href="~/Content/animate.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" type="text/css" media="all"> <!-- carousel slider -->
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <!-- js -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/swiper.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    @*<script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
    <!-- //js -->
    <!-- web-fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <!-- web-fonts -->
    <script src="~/Scripts/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                items: 4,
                itemsDesktop: [640, 5],
                itemsDesktopSmall: [480, 2],
                navigation: true

            });
        });
    </script>
    <script src="~/Scripts/jquery-scrolltofixed-min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            // Dock the header to the top of the window when scrolled past the banner. This is the default behaviour.

            $('.header-two').scrollToFixed();
            // previous summary up the page.

            var summaries = $('.summary');
            summaries.each(function (i) {
                var summary = $(summaries[i]);
                var next = summaries[i + 1];

                summary.scrollToFixed({
                    marginTop: $('.header-two').outerHeight(true) + 10,
                    zIndex: 999
                });
            });
        });
    </script>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script type="text/javascript">
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

    <!-- //smooth-scrolling-of-move-up -->
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <!-- Preloader Start-->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>
    <!-- Preloader End-->

    <div class="agileits-modal modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h4>
                </div>
                <div class="modal-body modal-body-sub">
                    <h5>Select your delivery location </h5>
                    <input type="text" name="Name" placeholder="Enter your area / Landmark / Pincode" required="">
                    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">Skip & Explore</button>
                </div>
            </div>
        </div>
    </div>
    @*<script>
            $('#myModal88').modal('show');
        </script>*@
    <!-- header -->
    <div class="header">        

        @{ Html.RenderPartial("_TopMenu"); }
        
    </div>
    <!-- //header -->
    <!-- navbar-header -->
    <!-- navbar-header -->

    <div class="container">
        @RenderBody()
    </div>

    <div class="copy-right">
        <div class="container">
            <p>© @DateTime.Now.Year Store DSWI. Todos los derechos reservados</p>
        </div>
    </div>
    <!-- cart-js -->
    <script src="~/Scripts/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                    items[i].set('shipping', 0);
                    items[i].set('shipping2', 0);
                }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- countdown.js -->
    <script src="~/Scripts/jquery.knob.js"></script>
    <script src="~/Scripts/jquery.throttle.js"></script>
    <script src="~/Scripts/jquery.classycountdown.js"></script>
    <script>
        $(document).ready(function () {
            $('#countdown1').ClassyCountdown({
                end: '1388268325',
                now: '1387999995',
                labels: true,
                style: {
                    element: "",
                    textResponsive: .5,
                    days: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#1abc9c",
                            lineCap: 'round'
                        },
                        textCSS: 'font-weight:300; color:#fff;'
                    },
                    hours: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#05BEF6",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    },
                    minutes: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#8e44ad",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    },
                    seconds: {
                        gauge: {
                            thickness: .10,
                            bgColor: "rgba(0,0,0,0)",
                            fgColor: "#f39c12",
                            lineCap: 'round'
                        },
                        textCSS: ' font-weight:300; color:#fff;'
                    }

                },
                onEndCallback: function () {
                    console.log("Time out!");
                }
            });
        });
    </script>
    <!-- //countdown.js

    <!-- ======= SWIPER =======-->
    <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 5,
            spaceBetween: 8,
            slidesPerGroup: 1,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            // Responsive breakpoints
            breakpoints: {
                320: {
                    slidesPerView: 1.50,
                    spaceBetween: 8
                },
                450: {
                    slidesPerView: 2,
                    spaceBetween: 8
                },
                580: {
                    slidesPerView: 3,
                    spaceBetween: 8
                },
                768: {
                    slidesPerView: 3.61,
                    spaceBetween: 8
                },
                1024: {
                    slidesPerView: 4.61,
                    spaceBetween: 8
                },
                1366: {
                    slidesPerView: 5,
                    spaceBetween: 8
                }
            }
        });

    </script>
    <!-- ======= SWIPER =======-->
    <!-- menu js aim -->
    <script src="~/Scripts/jquery.menu-aim.js"></script>
    <script src="~/Scripts/main.js"></script> <!-- Resource jQuery -->    
    <!-- //menu js aim -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>  
    
