@model List<Category>
@{
    ViewBag.Title = "Create";
}

<h2 class="text-center form-group">Crear Producto</h2>

<form id="createProduct">

    <div class="default-form-box">
        <label>Categoría</label>
        <select name="CategoryID">
            @foreach (var category in Model)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
    </div>

    <div class="default-form-box">
        <label>Nombre</label>
        <input name="Name" />
    </div>

    <div class="default-form-box">
        <label>Descripción</label>
        <input name="Descripción" />
    </div>

    <div class="default-form-box">
        <label>Precio</label>
        <input name="Price" />
    </div>

    <button class="btn btn-default" id="saveBtn" type="button">Guardar</button>
</form>

<script type="text/javascript">
    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
</script>
