
@{
    ViewBag.Title = "Create";
}

<h2>Crear Producto</h2>

<form method="post">
    <label>Nombre</label>
    <input name="Name" />

    <br />

    <label>Descripción</label>
    <input name="Description" />

    <br />

    <label>Price</label>
    <input name="Price" />

    <br />

    <button type="submit">Guardar</button>
</form>