@model NewProductViewModel
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                Crear Producto</
            </h2>
        </div>
    </div>
</div>

<form id="createProduct">

    <div class="default-form-box">
        <label>Categoría</label>
        <select name="CategoryID">
            @foreach (var category in Model.AvailableCategories)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
    </div>

    <div class="default-form-box">
        <label>Nombre</label>
        <input name="Name" />
    </div>

    <div class="default-form-box">
        <label>Descripción</label>
        <input name="Description" />
    </div>

    <div class="default-form-box">
        <label>Precio</label>
        <input name="Price" />
    </div>

    <button class="btn btn-default" id="saveBtn" type="button">Guardar</button>
</form>

<script type="text/javascript">
    $("#saveBtn").click(function () {

        $.ajax({
            type: 'POST',
            url: '/Product/Create',
            data: $("#createProduct").serialize()
        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");    
            Swal.fire({
              icon: 'success',
              title: 'Producto guardado!',
              showConfirmButton: false,
              timer: 1500
            })
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FALLÓ");
        });
    });
</script>
