
@{
    ViewBag.Title = "Index";
}

<div class="container">

    <div id="tableContainer" style="padding-top:30px;">
        @{
            Html.RenderAction("ProductTable");

            //Html.RenderAction("Create");
        }
    </div>

    <div id="actionContainer" style="padding-top:30px;">

    </div>
</div>