label {
    font-size: 18px;
}

a, a:visited, a:link, a:focus, a:hover, a:active {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

li{
    list-style:none;
}

.btn-default.active {
    color: #fff;
    background-color: #0280E1;
    background-image: none;
    border-color: #adadad;
}

    .btn-default.active:hover, .btn-default.active:focus {
        color: #fff;
        background-color: #0280E1;
        background-image: none;
        border-color: #adadad;
    }

    .col-lg-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-12, .col-xs-11, .col-xs-6, .col-xs-4, .col-xs-3 {
        padding-left: 4px;
        padding-right: 4px;
    }


.single-top-right {
    padding-left: 5em !important;
} 

.row {
    margin-left: 4px;
    margin-right: 4px;
}

.container-fluid {
    padding-right: 4px;
    padding-left: 4px;
}

.container {
    padding-right: 4px;
    padding-left: 4px;
}

.btn-default {
    border: none;
    outline: none !important;
    box-shadow: none;
    color: #fff;
    background: #f44336;
    padding: 1em 2em;
    border-radius: inherit;
}

    .btn-default:hover {
        color: #fff;
        border: none;
        outline: none !important;
        box-shadow: none;
        background-color: #464646;
        padding: 1em 2em;
        border-radius: inherit;
        -webkit-appearance: none;
        -webkit-transition: .8s all;
        -moz-transition: .8s all;
        transition: .8s all;
    }
.btn-primary {
    border: none;
    outline: none;
    box-shadow: none;
    color: #fff;
    background: #f44336;
    padding: 1em 2em;
    border-radius: inherit;
}

.btn-primary:hover {
    color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #036CCB;
    padding: 1em 2em;
    border-radius: inherit;
    -webkit-appearance: none;
    -webkit-transition: .8s all;
    -moz-transition: .8s all;
    transition: .8s all;
}

.default-form-box {
    margin-bottom: 20px;
    /*width: 50%;*/
}
    .default-form-box label {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
    }

    .default-form-box input, .default-form-box select {
        display: block;
        width: 100%;
        height: 45px;
        padding: 0px 10px 0px 20px;
        font-size: 16px;
        font-weight: 400;
        color: #474747;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        line-height: 45px;
        outline: none;
    }

.swal2-popup{
    font-size: 14px!important;
}
.swal2-styled.swal2-confirm {
    background-color: #218838!important;
}
/*========================================
SWIPER DE PRODUCTOS
=========================================*/
.swiper-slide {
    border: 1px solid #ddd;
}
.productos {
    padding-top: 30px !important;
    margin-bottom: 50px;
    width: 100%;
}

.section-titulo {
    display: flex;
    margin-bottom: 10px;
}

    .section-titulo .titulo {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .section-titulo a {
        font-size: 15px;
        margin-top: 38px;
        margin-left: 16px;
    }

.producto-imagen {
    padding: 8px;
    height: 220px;
}

    .producto-imagen img {
        width: 100%;
        display: block;
        object-fit: cover;
    }

.producto-info {
    background: #fff;
    padding: 8px 8px 12px 12px;
    height: 120px;
}

    .producto-info .nombre {
        font-weight: 700;
        color: #333;
        overflow: hidden;
        height: 40px;
        margin-bottom: 8px;
    }

.precioOriginal {
    color: #aaa;
    font-size: 14px;
    text-decoration: line-through;
    display: inline-block;
}

.new {
    display: inline-block;
    font-size: 15px;
    color: #F00;
    font-weight: 700;
}

.Precio {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

/*.item-bookmark {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 16px;
    right: 15px;
    border: none;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.7);
    border-radius: 50%;
    padding: 0;
    outline: none;
}

.item-bookmark-icon, .quitarDeseo {
    width: 18px;
    top: 10px;
    position: absolute;
    left: 9px;
    fill: transparent;
    stroke-width: 35;
    stroke: #0078B9;
}*/


/*========================================
FLECHAS
=========================================*/
.swiper-button-next {
    right: 10px;
    background: rgba(214, 214, 214, 0.7);
    border-radius: 50px;
}

.swiper-button-prev {
    left: 10px;
    background: rgba(214, 214, 214, 0.7);
    border-radius: 50px;
}

.swiper-button-prev:before {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background: #0078B9;
    position: absolute;
    transform: rotate(-45deg);
    top: 50%;
    margin-top: -5px;
    left: 50%;
    margin-left: -8px;
}

.swiper-button-prev:after {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background: #0078B9;
    position: absolute;
    transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -6px;
    left: 50%;
    margin-left: -8px;
}

.swiper-button-next:before {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background: #0078B9;
    position: absolute;
    transform: rotate(45deg);
    top: 50%;
    margin-top: -5px;
    left: 50%;
    margin-left: -6px;
}

.swiper-button-next:after {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    background: #0078B9;
    position: absolute;
    transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -6px;
    left: 50%;
    margin-left: -6px;
}

.swiper-button-prev, .swiper-button-next {
    background: #fff;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 3px 0 rgba(169,169,169,.7);
    border-radius: 100px;
    position: absolute;
    cursor: pointer;
    max-height: 100%;
    top: 57%;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}


/*========================================
SECTION BANNERS
=========================================*/
.section-banner {
    padding-bottom: 60px;
    position: relative;
}

.banner-layout > div {
    margin-bottom: 12px;
}

.banner-layout .item .canvas {
    overflow: hidden;
    display: block;
}

    .banner-layout .item .canvas::after {
        content: "";
        display: table;
        clear: both;
    }

.banner-layout .item .resizer {
    width: 179%;
    position: relative;
    left: -39.5%;
    height: auto;
}

.banner-layout .item img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*===================================
    - Breadvrumb  
=================================*/
.breadcrumb-area {
    background-color: #fcf6f6;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom-width: 0px;
    padding-top: 110px;
    padding-bottom: 117px;
    background-size: cover;
    line-height: 1;
}

@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) {
    .breadcrumb-area {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 575px) {
    .breadcrumb-area {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.breadcrumb-area .breadcrumb-title {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 48px;
    color: #3c3c3c;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .breadcrumb-area .breadcrumb-title {
        font-size: 36px;
    }
}

.breadcrumb-area .breadcrumb-title {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 48px;
    color: #3c3c3c;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .breadcrumb-area .breadcrumb-title {
        font-size: 36px;
    }
}