
@{
    ViewBag.Title = "Create";
}

<h2>Crear Categoría</h2>

<form method="post">
    <label>Nombre</label>
    <input name="Name"/>

    <label>Descripción</label>
    <input name="Description"/>

    <button type="submit">Guardar</button>
</form>