
@{
    ViewBag.Title = "Create";

    var imageURL = "/Content/images/system/placeholder-image.png";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Crear Categoría
                </h2>
            </div>
        </div>
    </div>

    <form id="createCategory">
        <div class="row">
            <div class="col-md-7">
                <div class="default-form-box">
                    <label>Nombre</label>
                    <input name="Name" />
                </div>
                <div class="default-form-box">
                    <label>Descripción</label>
                    <input name="Description" />
                </div>
                <div class="default-form-box">
                    <label>Imagen</label>
                    <input type="hidden" id="ImageURL" name="ImageURL" />
                    <input id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
                </div>
                <div class="form-group">
                    <label>¿Es destacado?</label>
                    <div class="input-group">
                        <div class="radio form-control">
                            <label><input name="isFeatured" type="radio" value="True" /> Si</label>
                        </div>
                        <div class="radio form-control">
                            <label><input name="isFeatured" type="radio" value="False" /> No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img class="img-thumbnail" id="categoryImage" src="@imageURL" />
            </div>
        </div>

        <button id="saveBtn" type="button" class="btn btn-default">Guardar</button>
        <button id="cancelBtn" type="button" class="btn btn-default">Cancelar</button>
    </form>
</div>

<script>
    $("#imageUpload").change(function () {
        var element = this;
		var formData = new FormData();
		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}

        $.ajax({
            type: 'POST',
			url: '@Url.Action("UploadImage", "Shared")',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
        })
        .done(function (response) {
            console.log(response);

            if (response.Success) {
        		$("#ImageURL").val(response.ImageURL);
        		$("#categoryImage").attr("src", response.ImageURL);
        	}
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FALLÓ");
        });
    });
    //
    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "Category")',
            data: $("#createCategory").serialize()
        })
        .done(function (response) {
            console.log(response);
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
            focusAction("tableContainer");

            Swal.fire({
                icon: 'success',
                title: 'Categoría guardada!',
                showConfirmButton: false,
                timer: 1000
            })
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FALLÓ");
        });
    });

    //
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>