@model StoreDSWI.Entities.Category
@{
    ViewBag.Title = "Edit";

    var trueChecked = Model.isFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.isFeatured ? "checked" : string.Empty;
}

<div class="container">

    <h2>Editar Categoría</h2>

    <form method="post">
        <input type="hidden" name="ID" value="@Model.ID" />

        <div class="default-form-box">
            <label>Nombre</label>
            <input name="Name" value="@Model.Name" />
        </div>
        <div class="default-form-box">
            <label>Descripción</label>
            <input name="Description" value="@Model.Description" />
        </div>

        <div class="form-group" style="font-size:16px;">
            <label style="font-size:18px;">¿Es destacado?</label>
            <input type="radio" name="isFeatured" value="true" @trueChecked/> Si
            <input type="radio" name="isFeatured" value="false" @falseChecked/> No
        </div>

        <button type="submit">Guardar</button>
    </form>

</div>
