@model List<StoreDSWI.Entities.Category>

@{
    ViewBag.Title = "Index";
}

    <div class="container">

        @foreach (var category in Model)
        {
            <h1>@category.Name</h1>
        }
    </div>
